Repository anhduy1202/EV-Savings, pull requests merged in 2022-03, with the labels that each got.

#3 Working on landing page + adding CSS root style:
  frontend/src/App.css
  frontend/src/Components/Home/HomePage.jsx
  frontend/src/Components/Home/homepage.css
  frontend/src/Components/Navbar/NavBar.jsx
  frontend/src/Components/Navbar/navbar.css
  frontend/src/assets/electricIcon.png
  frontend/src/assets/ev-background.png
Labels: frontend

#5 Adding signin/signup page on the frontend
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/Components/Auth/Auth.jsx
  frontend/src/Components/Auth/auth.css
  frontend/src/Components/Layout/Layout.jsx
  frontend/src/Components/Layout/layout.css
  frontend/src/Components/Navbar/NavBar.jsx
Labels: frontend, features

#6 Added greeting to home page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/Components/Greeting/Greeting.jsx
  frontend/src/Components/Greeting/greeting.css
  frontend/src/Components/Home/HomePage.jsx
Labels: frontend

#8 Updating landing page UI
  frontend/src/App.css
  frontend/src/Components/Greeting/Greeting.jsx
  frontend/src/Components/Greeting/greeting.css
Labels: enhancement, frontend

#9 Adding user menu dropdown
  frontend/src/Components/Auth/Auth.jsx
  frontend/src/Components/Navbar/NavBar.jsx
  frontend/src/Components/Navbar/navbar.css
Labels: frontend

#10 InputPages
  frontend/src/App.jsx
  frontend/src/Components/Greeting/Greeting.jsx
  frontend/src/Components/InputPage/InputPage.css
  frontend/src/Components/InputPage/InputPage.jsx
  frontend/src/Components/InputPageElectric/InputPageElectric.css
  frontend/src/Components/InputPageElectric/InputPageElectric.jsx
Labels: frontend, features

#11 Tuning UI for Input Page
  frontend/src/App.css
  frontend/src/Components/InputPage/InputPage.css
  frontend/src/Components/InputPageElectric/InputPageElectric.css
Labels: enhancement, frontend

#12 Starting on User Profile
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/Components/Navbar/NavBar.jsx
  frontend/src/Components/Navbar/navbar.css
  frontend/src/Components/UserProfile/UserProfile.jsx
  frontend/src/Components/UserProfile/userprofile.css
Labels: frontend, features
